.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: black;
    width: 80px;
    padding: 2px 16px;
    margin: 9px;
    background-color: rgba(146, 217, 235, 0.671);
    display: inline-block;
    border-radius: 5px;
}