.App {
  height: 100vh;
  background-color: rgb(43, 21, 21);
  color: white;
  background-size: cover;
}

.container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  max-width: 800px;
  max-height: 480px;
  margin: auto;
}

.titlebox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  color: coral;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-top: 1px solid white;
}

.title {
  width: 50%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 5px 15px;
  background-color: rgba(8, 8, 8, 0.425);
  display: inline-block;
}